---
import BaseLayout from "../layouts/BaseLayout.astro";
const Title = "À Propos";

const identity = {
    prenom: "Youness",
    nom: "?!",
    occupation: "Pokémon Mood Lead Dev",
    hobbies: ["Jeux vidéos", "Manga", "Programmation", "Famille"],
};

const skills = [
    "Java",
    "SQL",
    "PHP",
    "C",
    "Linux",
    ];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "crimson";
---
<BaseLayout Title={Title}>
    <style is:global define:vars={{skillColor}}>
    h1 {
        color: purple;
        font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: bold;
    }
    </style>
    <h2>... et de mon nouveau site Astro !</h2>

    <p>Je suis en train de suivre le tutoriel d'introduction d'Astro. C'est la deuxième page de mon site web, et c'est la première que j'ai construite moi-même !</p>

    <p>Ce site se mettra à jour au fur et à mesure que je compléterai davantage le tutoriel, alors revenez régulièrement voir comment se déroule mon parcours !</p>

    <p>Voici moi :</p>
    <ul>
        <li>{identity.prenom} {identity.nom}</li>
        <li>Je suis actuellement le <strong>{identity.occupation}</strong></li>
        {identity.hobbies.length >= 2 &&
            <li>Mes hobbies sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
        }
    </ul>
    <p>Voici mes compétences :</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>Je suis heureux d'apprendre Astro !</p>}

    {finished && <p>J'ai terminé ce tutoriel !</p>}

    {goal === 3 ? <p>Mon objectif est de terminer en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours.</p>}
</BaseLayout>