---
const { frontmatter } = Astro.props;
import BaseLayout from './BaseLayout.astro';
---
<BaseLayout Title={frontmatter.title}>
<p>Écrit par : {frontmatter.author}</p>
<p>Publié le : {frontmatter.pubDate.toString().slice(0,10)}</p>
<h3>{frontmatter.description}</h3>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
<p>Tags : {frontmatter.tags}</p>
</BaseLayout>